<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cyclephoto.mapper.CyclephotoMapper">

    <insert id="add" parameterType="com.cyclephoto.entity.CyclePhoto">
        insert into cyclephoto values (cyclephoto_seq.nextval,#{cpurl})
    </insert>

    <delete id="delete" parameterType="int">
        delete from cyclephoto where cpid=#{cpid}
    </delete>

    <select id="findAll" resultType="com.cyclephoto.entity.CyclePhoto">
        select * from cyclephoto
    </select>

    <select id="findById" resultType="com.cyclephoto.entity.CyclePhoto">
        select * from cyclephoto where cpid=#{cpid}
    </select>

    <update id="update" parameterType="com.mtype.entity.mType">
        update cyclephoto set cpurl=#{cpurl} where cpid=#{cpid}
    </update>
</mapper>